<section class="hero">
  <div class="container container__hero">
    <div class="hero__enjoy">
        <h1 class="hero__title title">
    Enjoy Your Favorite Food From Anywhere
  </h1>
  <p class="hero__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. 
    Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
</p>

<button class="hero__button">Order Now</button>
    </div>


<div class="slide__box">
    <ul class="slide one-time">
    <li class="slide__item">
        <div>
            <img src="./images/hero/slider-foto-1-tab_1x.png" alt="food"  class="slide__picture">
        </div>

    </li>
    <li class="slide__item">
        <div>
            <img src="./images/hero/slider-foto-2-tab_1x.png" alt="food" width="320px" class="slide__picture">
        </div>
    </li>
    <li class="slide__item">
        <div>
            <img src="./images/hero/slider-foto-3-tab_1x.png" alt="food" width="320px" class="slide__picture">
        </div>
    </li>
</ul>
</div>

    </div>
</section>