.hero{
    padding-top: 60px;
    padding-bottom: 60px;

&__text{
font-weight: 400;
font-size: 14px;
line-height: 1.5;
margin-top: 28px;
margin-bottom: 28px;
@media screen and (min-width: $tablet){
    font-size: 16px;
    margin-top: 44px;
    margin-bottom: 40px;

}
@media screen and (min-width: $desktop){
    margin-top: 28px;
}
}

@media screen and (min-width: $tablet){
    &{
        padding-bottom: 0;

    }
}
 @media screen and (min-width: $desktop){
    &{
        padding: 0;
    }
 }

}


    @media screen and (min-width: $desktop){
      .hero__enjoy{
        width: 500px;
      }
      .hero__title {
        margin-right:50px;
      }
      .container__hero {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    }
    
    @media screen and (min-width: $tablet) and (max-width: $desktop)
    {
        .hero__title {width: 537px;}
        .hero__text {width: 336px;}
        .container__hero {
            position:relative
        }
        .slide__box {
            position: absolute;
            right: 40px;
            top: 100px;
        }
        }
    
 
.hero__button {
background-color:getColor('link-accent-color');
border-radius: 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 1.5;
color: getColor('primary-text-color');
padding: 6px 18px;
align-items: center;
text-align: center;

border: none;
cursor: pointer;

&:hover ,&:focus{
    background-color: getColor('btn-bg-accent-color');
}
}

 

// ----------CСЛАЙД---------------------
.slide{
    display: none;
    @media screen and (min-width: $tablet){
    display: flex;

}
}



.slide__picture{
    border-radius: 50%;
    border: 14px solid #FFE550;
    width: 290px;
    height: 292px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $desktop){
        border: 26px solid #FFE550;
        width: 528px;
       height: 525px;
    }

}





.slide__box {
    
        width: 336px;
        height:320px;
        
        
@media screen and (min-width: $desktop){
            width: 608px;
            height:580px;
            margin-top: 14px;
            margin-left: 32px;
            

        }
    }
// ------убрал три точки под слайдом --------

.slick-dots li button:before{
    display: none;
    z-index:-1;
}
// -----кнопки слайда-------
.slick-prev:before{
   
 
    color: red;
}
.slick-next:before{
   
    color: red;
}
.slick-prev {
    left:0;
    transform: translate(100% , -50%);
    z-index: 1;
     @media screen and (min-width: $desktop){
    transform: translate(190% , -50%);
    &::before {font-size: 30px;}
}
}
.slick-next {
   right:0;
    transform: translate(-100% , -50%);
    z-index: 1;
   @media screen and (min-width: $desktop){
    transform: translate(-240% , -50%);
    &::before{font-size: 30px;}
    
}
}


